* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: -0.1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
  overflow: hidden;
}

body {
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
}

#root {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
}

.no-content {
  display: flex;
  justify-content: center;
  padding-top: 30%;
  height: 100%;
  color: rgba(0, 0, 0, 0.4);
}

.header {
  position: fixed;
  top: 1rem;
  width: 780px;
  background: #fff;
  padding: 1rem;
  z-index: 999;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 240px;
  height: auto;
  border-radius: 4px;
}

.pet {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.098);
}

.pet:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  /* after scroll position sticky */
  position: sticky;
  top: 5.5rem;
  width: 100%;
}

input,
select {
  width: 100%;
  margin-bottom: 8px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-gallery {
  margin-top: 124px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 1rem;
}

img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* zoom */
  transform: scale(0.99);
  /* smoot animation */
  will-change: transform;
  /* fast tranistion */
  transition: transform 0.2s ease-in-out;
}

.search-params {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 780px;
  gap: 24px;
}

.search-form-container {
  flex-basis: 30%;
  flex-shrink: 0;
  height: 100%;
}

.search-result-container {
  flex-basis: 70%;
  height: 100%;
}

.page-content {
  padding: 1rem;
  padding-top: 5.5rem;
}

.detail-page__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.card-pet {
  min-width: 320px;
  width: 100%;
}
.card-pet__name {
  margin: 8px 0;
}

.card-pet__meta {
  font-size: 14px;
  margin: 4px 0;
}

.skeleton {
  padding: 10px;
  background-color: #f6f7f8;
}

/* pet card skeleton loader */
.skeleton__title,
.skeleton__description,
.skeleton__image {
  background: linear-gradient(90deg, #f6f7f8 25%, #edeef1 50%, #f6f7f8 75%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite;
}

.skeleton__title {
  height: 20px;
  width: 50%;
  margin-bottom: 10px;
}

.skeleton__description {
  height: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.skeleton__image {
  height: 200px;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* form styling */
/* styles.css */
.form__input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.form__button {
  padding: 6px 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #0056b3;
}

.form__select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}
.form__label,
.form__select,
.form__input,
.form__button {
  font-size: 14px;
}
